.page {
  background-color: rgba(20, 20, 43);
  font-family: var(--font-poppins);
  /* z-index: 100; */
}

.form {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 200;
  max-width: 800px;
}

.formInput {
  outline: none;
  color: #f5f5f7;
  background-color: transparent;
  font-family: var(--font-poppins);
  border: solid white 1px;
  padding: 1rem;
  border-radius: 1rem;
}
.formInput:focus {
  border: solid var(--primary-color) 1px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.formInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.emphText {
  color: var(--primary-color);
  font-weight: 500;
}

.emphText:hover {
  text-decoration: underline;
}

.errorStyling {
  color: red;
  font-size: 1.2rem;
}

.header2 {
  font-size: 1.6rem;
  font-weight: 200;
}

.header1 {
  font-size: 3.2rem;
  font-weight: 500;
}
